.sidebarTitle {
    padding: 2rem .5rem 0 2.5rem;
}

.divider {
    margin: 8px 0;
    height: 1px;
    background-color: #757575;
}

.sidebarContent {
    height: 100%;
    background-color: white;
}

.sidebarLink {
    display: block;
    padding: 16px 0px;
    color: #757575;
    text-decoration: none;
}