@import '../common-styles.less';

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  text-align: center;
}

.subTitle {
  color: #999;
  font-size: 1.4rem;
  margin-bottom: 0;
  text-align: center;
}

.description {
  font-size: 1.2rem;
  margin: 4rem 0 1.5rem 0;
}

.aboutMePicture {
  display: flex;
  justify-content: center;
  align-items: center;
}
