@import "../common-styles.less";

.tag {
    a {
        background: #f0f0f0;
        border: 1px solid #999;
        color: #222;
        display: block;
        font-size: .9rem;
        font-weight: 400;
        line-height: normal;
        padding: .3rem .5rem;
        margin: 1rem 0;
        width: 150px;
        &:hover {
            background: transparent;
            border: 1px solid #1c77c3;
            color: #1c77c3;
            font-weight: 400;
          }
    }
}
