@import './dark-theme.less';
@import './light-theme.less';

@primary-color: #1c77c3;

@desktop-max-width: 1000px;
@tablet-max-width: 572px;
@mobile-max-width: 400px;
@sidebar-visibility-min-width: 1200px;

@heading-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
  'Roboto', Roboto, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

.desktopOnly {
  display: block !important;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  max-width: 800px;

  &.large {
    max-width: 1350px;
  }

  &.small,
  .small {
    max-width: 550px;
  }
}

@media screen and (max-width: @desktop-max-width) {
  .desktopOnly {
    display: none !important;
  }

  .container {
    padding: 1.5rem;
  }
}

// =====================================================================================
// Main Styles For Dark/Light Themes
// =====================================================================================

.mainThemeDependentCss() {
  * {
    color: @theme-font-color;
  }
  // h1, h2, h3, h4, h5 {
  //   color: @primary-color;
  // }

  // =====================================================================================
  // Header
  // =====================================================================================
  .headerWrapper {
    background-color: @header-bg-color;
    .headerLink {
      background-color: @header-button-bg-color;
      &:hover {
        background-color: @header-button-bg-color-hover;
      }
    }
    .sidebarToggleBtn {
      fill: @header-sidebar-toggle-color;
    }
  }

  // =====================================================================================
  // Footer
  // =====================================================================================

  .footer {
    background-color: @footer-background-color;
    a {
      &:hover {
        background: @footer-link-hover-color;
      }
    }
  }

  // =====================================================================================
  // Sidebar
  // =====================================================================================
  .sidebarContent {
    background-color: @sidebar-bg-color;
  }
  .accordion__button {
    background-color: @accordion-button-bg-color;
    &:hover {
      background-color: @accordion-button-hover-bg-color;
    }
  }
  .sidebarLink {
    &:hover {
      background-color: @sidebar-article-link-hover-bg-color;
    }
  }

  // =====================================================================================
  // Index Page
  // =====================================================================================
  .heroButtons {
    a {
      color: @theme-font-color-reverse;
    }
    .button {
      border-color: @buttons-border-color;
      span {
        color: @theme-font-color-reverse;
      }
    }
  }
  .hero {
    h2 {
      span {
        color: @primary-color;
      }
      color: @primary-color;
    }
    .post,
    .postNew {
      &:hover {
        background: @post-hover-background;
      }
    }
  }

  // =====================================================================================
  // Blog Search Page
  // =====================================================================================
  .searchInput {
    background: @search-input-bg-color;
  }
  .post,
  .postNew {
    &:hover {
      background: @post-hover-background;
    }
  }

  .newBadge {
    color: #ffbf00;
  }
}
