@desktop-max-width: 1000px;

.desktopOnly {
    display: block !important;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    max-width: 800px;

    &.large {
        max-width: 1350px;
      }

    &.small,
    .small {
    max-width: 550px;
    }
  }
  
  @media screen and (max-width: @desktop-max-width) {
    .desktopOnly {
      display: none !important;
    }
  
    .container {
      padding: 1.5rem;
    }
  }