#layout {
    &.light.theme {
      
      @header-bg-color: #eeed;
      @header-button-bg-color: #cacaca;
      @header-button-bg-color-hover: rgba(0,0,0,0.3);
      @header-sidebar-toggle-color: #000;

      @theme-font-color: #000;
      @theme-font-reverse: #e8e6e3;

      @index-link-buttons-text-color: #fff;

      .mainThemeDependentCss();
    }
  }