:root {
  /* Colors */
  /* --primary: #7d87ff;
  --link-color: white;
  --border-color: #111;
  --heading-font-color: var(--primary);
  --background-color: #272727;
  --sidebar-color: #222;
  --navbar-color: #333;
  --sidebar-color-hover: #303030;
  --sidebar-color-focus: #444;
  --category-background-color: #161616;
  --category-background-color-hover: #2a2a2a;
  --light-border-color: #444;
  --toolbar-background-color: #1b1b1b;
  --toolbar-color: #eee;
  --tooltip-border-color: #555;
  --tooltip-background-color: #232323;
  --font-color: #b3b9c5;
  --medium-font-color: #aaa;
  --dark-font-color: #888;
  --bright-font-color: #eee;
  --input-background: #393939;
  --blockquote-background-color: rgba(0, 0, 0, 0.4);
  --blockquote-color: var(--light-font-color);
  --black: #111;
  --inline-code-background-color: rgba(0, 0, 0, 0.2);
  --inline-code-color: #eee;
  --h2-filter: brightness(1);
  --h3-filter: brightness(1.3);
  --h4-filter: brightness(1.5);
  --dark-opacity: rgba(0, 0, 0, 0.2);
  --dark-opacity-hover: rgba(0, 0, 0, 0.3);
  --reverse: #111;
  --scrollbar: var(--border-color);
  --scrollbar-track: var(--light-border-color); */

  /* Font */
  --font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'Roboto', Roboto, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --heading-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'Roboto', Roboto, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --code-font-family: Menlo, 'DM Mono', 'Roboto Mono', Courier New, monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:focus-visible,
button:focus-visible {
  outline: 3px solid var(--primary);
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  /* background: var(--background-color); */
}

p,
ol,
ul,
table,
blockquote {
  font-size: 1.05rem;
  margin: 0 0 1.5rem;
}

button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

ul li ul {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font-family);
  margin: 0 0 1.5rem 0;
  line-height: 1.2;
  color: var(--heading-font-color);
  scroll-margin-top: 60px;
}

a {
  text-decoration: none;
}

article a {
  border-bottom: 2px solid #1c77c3;
  font-weight: 600;
  color: black;
}

article a:hover {
  background: #1c77c3;
  border-top: 2px solid #1c77c3;
  color: white;
}



.blog-page h2 {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2.5rem;
  border-bottom: 2px solid var(--light-border-color);
}

a.post {
  display: grid;
  grid-template-columns: auto 60px;
  grid-gap: 1rem;
  align-items: center;
  border: 1px solid transparent;
  padding: 0.55rem 0;
}

a.post:hover,
a.post.new {
  background: var(--dark-opacity);
  border: 1px solid var(--light-border-color);
}

a.post.new {
  margin: 0.5rem 0;
  border-left: 3px solid var(--primary);
}

a.post h3 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--font-color);
  filter: brightness(1);
}

a.post:hover h3 {
  color: var(--bright-font-color);
}

a.post:hover time {
  color: var(--dark-font-color);
}

a.post time {
  display: block;
  text-align: center;
  font-family: var(--code-font-family);
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--dark-font-color);
}

.new-post {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0.5rem;
  background: var(--primary);
  color: var(--reverse);
  margin-bottom: 0.5rem;
}